<nav class="ui bottom fixed inverted eight item labeled icon menu">
  <a class="item" data-section="about_section" (click)="onClick('about')">
    <i class="user icon"></i>
    About
  </a>
  <a class="item" data-section="resume_section" (click)="onClick('resume')">
    <i class="tasks icon"></i>
    Resume
  </a>
  <a class="item" data-section="portfolio_section" (click)="onClick('portfolio')">
    <i class="suitcase icon"></i>
    Portfolio
  </a>
  <a class="item" data-section="contact_section" (click)="onClick('contact')">
    <i class="mail icon"></i>
    Contact
  </a>
</nav>
